<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>Sardinia Beach Finder</name>

  <description>
    Find your best Sardinia Beach
  </description>

  <author href="https://build.phonegap.com" email="eric.pani8223@gmail.com">
   Eric Pani
  </author>

  <!-- allow local pages -->
  <access origin="*" />

  <gap:plugin name="org.apache.cordova.splashscreen" />

  <icon src="res/drawable-hdpi/underwear.png" gap:platform="android" gap:density="ldpi" />
  <icon src="res/drawable-mdpi/underwear.png" gap:platform="android" gap:density="mdpi" />
  <icon src="res/drawable-ldpi/underwear.png" gap:platform="android" gap:density="hdpi" />
  <icon src="res/drawable-xhdpi/underwear.png" gap:platform="android" gap:density="xhdpi" />


  <gap:splash src="splash/android/spiaggia.jpg" gap:platform="android" gap:density="ldpi" />
  <gap:splash src="splash/android/spiaggia.jpg" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="splash/android/spiaggia.jpg" gap:platform="android" gap:density="hdpi" />
  <gap:splash src="splash/android/spiaggia.jpg" gap:platform="android" gap:density="xhdpi" />
</widget>
